.move-down {
    margin-top: 10rem; 
  }

  .textContent{
    font-size: 1.5rem;
}

  @media (max-width: 768px) {
    .textContent {
      font-size: 4vw; 
    }
  }

  @media (min-width: 1200px) {
    .textContent {
      font-size: 2vw; 
    }
  }