  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animation {
    font-size: 20vh;
    color: #003081;
    animation: fadeInUp 1s ease-in-out; /* Apply the fadeInUp animation */
  }

  .text {
    font-size: 1500%; 
  }