
  .text-title {
    font-size: 4.5vw; 
  }

  @media (max-width: 768px) {
    .text-title {
      font-size: 6vw; 
    }
  }

  @media (min-width: 1200px) {
    .text-title {
      font-size: 5vw; 
    }
  }


  .custom-height {
    height: 60vh;
  }
  
  @media (max-width: 768px) {
    .custom-height {
      height: 50vh;
    }
  }

  @media (min-width: 1200px) {
    .custom-height {
      height: 40vh;
    }
  }